
#contato {
	font-size: 22px;
	color: black;
	font-family: monospace;
}

#title {
	font-size: 40px;
	color: darkblue;
	font-family: cursive;
}

.texto_pagina {

	font-family: 25px;
	font-family: monospace;
}

.texto_2 {
	font-family: 25px;
	font-family: monospace;
	color: red;

}


